<a href="https://colab.research.google.com/github/ShuichiroTsuda/Kaggle_Liverpool_Ion_Switching/blob/master/submit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import json
from google.colab import drive
import os
import pandas as pd

class ColabKaggle:

    base = 'gdrive/My Drive/'

    def __init__(self):
        drive.mount('gdrive')

    def load_api_key(self, path):
        """
        example of path: path = 'Colab Notebooks/Kaggle/API_setup/kaggle.json'

        """
        path = self.base + path
        with open(path) as f:
            kaggle_api_key = json.load(f)

        filename = "/root/.kaggle/kaggle.json"
        os.makedirs(os.path.dirname(filename), exist_ok=True)

        with open(filename, 'w') as f:
            json.dump(kaggle_api_key, f)

        os.chmod(filename, 600)

        print('API key loaded.')

ck = ColabKaggle()
ck.load_api_key('Colab Notebooks/Kaggle/API_setup/kaggle.json')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).
API key loaded.

In [17]:
!kaggle competitions download -c liverpool-ion-switching

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
!unzip sample_submission.csv.zip

Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

In [0]:
import numpy as np
import pandas as pd

In [0]:
y_pred = np.load('gdrive/My Drive/Colab Notebooks/Kaggle/Liverpool_Ion_Switching/xgb1.npy')

In [20]:
y_pred.shape

(2000000,)

In [21]:
submission = pd.read_csv('sample_submission.csv')
submission

             time  open_channels
0        500.0001              0
1        500.0002              0
2        500.0003              0
3        500.0004              0
4        500.0005              0
...           ...            ...
1999995  699.9996              0
1999996  699.9997              0
1999997  699.9998              0
1999998  699.9999              0
1999999  700.0000              0

[2000000 rows x 2 columns]

In [0]:
submission['open_channels'] = y_pred
submission.to_csv('submission.csv', index=False, float_format='%.4f')

In [23]:
!kaggle competitions submit -c liverpool-ion-switching -f submission.csv -m "xgb1"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 30.8M/30.8M [00:02<00:00, 11.9MB/s]
Successfully submitted to University of Liverpool - Ion Switching